$glass: #f6feff;
$glass-border: #bdc3c7;
$tube-radius: 0px 0 20px 20px;
$water-radius: 5px 5px 0px 0px;

.grid {
    display: grid;
}
.bottle-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    .bottle {
        width: 20%;
        height: 75%;
        border-radius: $tube-radius;
        display: flex;
        justify-content: center;
        .bottle-content {
            width: 99%;
            height: 100%;
            display: flex;
            flex-direction: column-reverse;
            .slice{
                &:last-child{
                    border-radius: $water-radius;
                }
                &:first-child{
                    border-radius: $tube-radius;


                }
            }
        }
        background: linear-gradient(
            90deg,
            rgba(174, 208, 237, 0.3) 0%,
            rgba(166, 204, 235, 0.3) 50%,
            rgba(81, 168, 220, 0.3) 100%
        );
        border: 1px solid $glass-border;

        &.active {
            animation: bounce 1s infinite alternate;
            -webkit-animation: bounce 1s infinite alternate;
        }
    }
}



@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }
  @-webkit-keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-15px);
    }
  }